<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413613421487-8nsfh5lbqohkbsvdo375pni99cjeej7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413613421487-8nsfh5lbqohkbsvdo375pni99cjeej7o</string>
	<key>API_KEY</key>
	<string>AIzaSyC_MDLpFGfJqLla_p6swSogpahQE0ZQ0qM</string>
	<key>GCM_SENDER_ID</key>
	<string>413613421487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agoravideo</string>
	<key>PROJECT_ID</key>
	<string>fcm1-d18ca</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm1-d18ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413613421487:ios:1a6b85b85affd23715355a</string>
</dict>
</plist>