<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901815716302-b3l8ndh795vh48bvgfmmm36fk328njth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901815716302-b3l8ndh795vh48bvgfmmm36fk328njth</string>
	<key>API_KEY</key>
	<string>AIzaSyDPAfTy26TodzRyX9ioYa9Qm4l698_ZxbY</string>
	<key>GCM_SENDER_ID</key>
	<string>901815716302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>demo2-f97c0</string>
	<key>STORAGE_BUCKET</key>
	<string>demo2-f97c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901815716302:ios:020cc99f766c9d8a43039f</string>
</dict>
</plist>